<% include ../partials/boilerplate %>

<div class='single-auction'>
  <h3><%= auction.item %></h3>

    <span class='description'><%= auction.description %></span> <br/>
    <span class='status'><%= auction.status %></span> <br/>
    <span class='categories'><%= auction.categories %></span>

  <form action="/your-server-side-code" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_tt9yYoSnbo3jerG6qXUF1yyM"
      data-amount="999"
      data-name="Stripe.com"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true">
    </script>
  </form>
</div>

<div id="map"></div>

<script>
  function initMap() {
    const uluru = {lat: 40.757088, lng: -73.845821};
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: uluru
    });
    const marker = new google.maps.Marker({
      position: uluru,
      map: map
      });
    }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiTFT-c8uaiy6PX6IEcaLT-sj54LIFp54&callback=initMap">
</script>

<div class='back-to-auctions'>
  <a href='/auctions'>Back to all auctions</a>
</div>

<% include ../partials/end %>