<% include ../partials/boilerplate %>

<form method='POST' action='/auctions/<%= id%>?_method=PUT'>
  <input name='item' type='text' value='<%= auction.item %>' /> <br/>
  <input name='description' type='text' value='<%= auction.description %>' /> <br/>
  <input name='status' type='text' value='<%= auction.status %>' /> <br/>

  <select class="selection">
    <option value='categories_id'>Fashion</option>
    <option value='categories_id'>Electronics</option>
    <option value='categories_id'>Toys</option>
    <option value='categories_id'>Auto</option>\
  </select>
  
  <input type='submit' value='Edit' />
</form>

<% include ../partials/end %>