<% include ./partials/boilerplate.ejs %>

<div id="wrapper">

<div class='hero'>
  <h1><%= message %></h1>
  <h3><%= subTitle %></h3>
</div>

<div class='more'>
  <p>Auction App, a marketplace where you sell your old junk or new stuff, we don't judge</p>
</div>

<div class="indexsum">
<p>Items for sell <% auctionItems.forEach(function(item, index) { %>
  <% if (index !== auctionItems.length -1) { %>
    <%= item %>,
  <% } else { %>
    <%- item -%>
  <% } %>
<% }) -%>.</p>
</div>

<div class="checkauctions">
  <a href='/auctions'>Check out all the auctions</a>
</div>
</div>

<% include ./partials/end.ejs %>