<% include ../partials/boilerplate %>

<form method='POST' action='/auctions/<%= id%>?_method=PUT'>
  <input name'item' type='text' value='<% auction.item %>' />
  <input name'description' type='text' value='<% auction.description %>' />
  <input name'status' type='text' value='<% auction.status %>' />
  <input name'categories' type='text' value='<% auction.categories %>' />
  <input name='submit' value='Sell it' />
</form>

<% include ../partials/end %>