<% include ../partials/boilerplate %>

<form method='POST' action='/auctions'>
  <input name'item' type='text' placeholder='Item' />
  <input name'description' type='text' placeholder='Description' />
  <input name'status' type='text' placeholder='Status' />
  <input name'categories' type='text' placeholder='Categories' />
  <!--<input name'category_id' type='text' placeholder='Category ID' />-->
  <input name='submit' value='Sell it' />
</form>

<% include ../partials/end %>