<% include ./partials/boilerplate.ejs %>

<div class='hero'>
  <h1><%= message %></h1>
  <h3><%= subTitle %></h3>
</div>

<% if (showMore === true) { %>
<div class='more'>
<p>Auction App, a marketplace where you sell your old junk or new stuff, we don't judge</p>
</div>
<% } %>

<p>Items for sell <% auctionItems.forEach(item, index) { %>
  <% if (index !== auctionItems.length -1) { %>
    <% = item %>,
  <% } else { %>
    <%- item -%>
  <% } %>
<%}) -%>.</p>

<a href='/auctions'>Check out all the auctions</a>

<% include ./partials/end.ejs %>